.container{
  margin-right: 80px;
}
.div1 {
position:absolute;
margin-top:-30px;
margin-right:240px;
height: 350px;
width: 350px;
font-family: 'Tajawal', sans-serif;
border-radius: 50%;
display: inline-block;
background-color:#34495E;
color :#fff;
opacity :0.8;
}

.div2 {
position:absolute;
margin-top:-30px;
margin-right:780px;
height: 350px;
width: 350px;
background-color:#34495E;
font-family: 'Tajawal', sans-serif;

color :#fff;
opacity :0.8;
border-radius: 50%;
display: inline-block;
}

.div3 {
position:absolute;
margin-top:100px;
margin-right:500px;
height:350px;
width: 350px;
font-family: 'Tajawal', sans-serif;
background-color:#F3EC4E;
color :#000;
opacity :0.8;
border-radius: 50%;
display: inline-block;
}

.btn{
margin-top:500px;
margin-right:600px;
margin-bottom: 100px;
border : none;
font-weight:bold;
padding: 15px 32px;
text-align: center;
border-radius: 5px;
color: white;
display: inline-block;
font-size: 20px;
cursor: pointer;
background-color: #34495E;
}
